.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
}


.contact-section__contact-information {
  height: fit-content;
  border-radius: 2rem;
  background-color: white;
  position: relative;
  margin: 5%;
  padding-bottom: 2.5rem;
}

.contact-section__contact-information-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: -webkit-center;
  margin: 2rem;
}

.contact-section__contact-information-content{
  margin-top: calc(5% - 1.5rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-section__contact-information-content li{
  list-style: none;
}

.contact-section__contact-item{
  width: 7rem;
  padding: 1rem;
  flex-basis: fit-content;
}

.contact-section__contact-item a, .contact-section__contact-item > div{
  display: flex;
  text-decoration: none;
  color: black;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: inherit;
  margin: 0;
  
}

.contact-section__contact-item li{
  display: flex;
  text-decoration: none;
  color: black;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: inherit;
  margin: 0;
  
}

.contact-section__contact-item em img{
  width: 2.5rem;
  height: 2.5rem;
}

.contact-section__social-networks-item{
  list-style: none;
  width: -webkit-fill-available;
}

img.social-networks__image.contact-section__social-networks-image {
  width: 1.4rem;
}

.contact-section__contact-item p{
  text-align: center;
  text-decoration: underline;
  width: min-content;
  
  inline-size: auto;
  margin: 0;
}

.contact-section__contact-description > p {
  text-align: center;
  text-decoration: none;
  width: min-content;
  color: darkslategray;
  font-size: small;
  
  inline-size: auto;
}

.contact-section__contact-description {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 4.5rem;
  justify-content: space-between;
}

.contact-section__contact-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: -webkit-fill-available;
    justify-content: center;
}


.contact-section__container{
  
  background-color: #1C3663;
  padding: 2rem;
  
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  
  z-index: -2;
}

.contact-section__subcontainer{
  
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #0094B7;
  z-index: -1;

}

ul.contact-section__contact-information-content {
  margin: 0;
  padding: 0;
}

ul.contact-section__contact-cta {
  padding: 0;
  margin: 0;
}
