
.records-section {
  /* Agrega estilos de margen, padding, color de fondo, etc. según tus necesidades */
padding: 20px;
  background-color: #f8f9fa;
}

.records-section__title {
  /* Agrega estilos de fuente, tamaño, color, etc. según tus necesidades */
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.records-section__title-highlight{
  color: #0094b7;
}

.records-section__card{
  
  margin: 2rem;
  margin-top: 3.5rem;
}

.records-section__content-container {
  background-color: white;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  border-radius: 5%;
}

