
.records-section {
  /* Agrega estilos de margen, padding, color de fondo, etc. según tus necesidades */
padding: 20px;
  background-color: #f8f9fa;
}

.records-section__title {
  /* Agrega estilos de fuente, tamaño, color, etc. según tus necesidades */
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.records-section__title-highlight{
  color: #0094b7;
}

.records-section__card{
  margin: 0.5rem;
  margin-top: 3.5rem;
}

.records-section__content-container {
  background-color: white;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5%;
  min-height: fit-content;
}

.records-section__image-container{
  width: auto;
}

.records-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 10.5rem;
}

.record-section__title {
  /* Agrega estilos de fuente, tamaño, color, etc. según tus necesidades */
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  min-height: 4rem;
  justify-content: center;
  align-items: center;
}
