.main-section {
  position: relative;
  display: flex;
}

.main-section__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  text-align: right;
  flex-direction: column;
}

.main-section__title,
.main-section__subtitle,
.main-section__description,
.cta {
  color: #fff;
}

.main__image {
  margin-bottom: 0;
}
