.about-me-section {
  
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.about-me-section__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.about-me-section__image {
  flex: 1;
  margin-bottom: 2rem;
}

.about-me-section__image img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

}

.about-me-section__content {
  display: flex;  
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.about-me-section__title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.about-me-section__title-highlight {
  color: #0094b7;
}

.about-me-section__description {
  text-align: justify;
}

.about-me-section__certifications-swiper{
  margin: 0;
  margin-top: 2rem;
  width: 30rem;
}

.certifications{
  display: flex;
  height: 6rem;
  justify-content: center;
}

.swiper-wrapper-certifications {
  overflow: hidden;
}

.swiper-certifications {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  animation-name: swiper-certifications;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.slider-certification {
  padding: 1rem;
}

.slider-certification img{
  width: 5rem;
}

li.slider-certification img {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

@keyframes swiper-certifications {
  0% {transform: translateX(0);}
  50% {transform: translateX(-50%);}
}


@media (min-width: 480px) {

  .about-me-section__container {
    flex-direction: row;
  }

  .about-me-section__content {
    align-items: flex-start;
    padding-left: 20px;
  }

  .about-me-section__description {
    text-align: left;
  }

}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {

}