nav{
  background-color: yellow !important;
}

.navbar-container {
  min-height: 5rem;
}


.logo img {
  height: 5rem;
  width: auto;
}

.navbar-collapse {
  text-align: -webkit-center;
}

#navbarNav div.cta{
  margin-top: 1.5rem;
}

@media (min-width: 992px){
  #navbarNav div.cta{
    margin-left: 2.5rem;
    margin-top: 0;
  }
}